localhost:5541 {
    tls internal
    reverse_proxy freescribe-llm-engine:2242
}

127.0.0.1:5541 {
    tls internal
    reverse_proxy freescribe-llm-engine:2242
}


localhost:5551 {
    tls internal
    reverse_proxy whisper-server:2224
}

127.0.0.1:5551 {
    tls internal
    reverse_proxy whisper-server:2224
}
